{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">
        📊 Dashboard
    </h2>

    <div class="row">

        <div class="col-md-3 mb-4">

            <div class="card bg-primary text-white shadow">

                <div class="card-body text-center">

                    <h5>Total Students</h5>

                    <h2>{{ total_students }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card bg-success text-white shadow">

                <div class="card-body text-center">

                    <h5>Male Students</h5>

                    <h2>{{ male_students }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card bg-danger text-white shadow">

                <div class="card-body text-center">

                    <h5>Female Students</h5>

                    <h2>{{ female_students }}</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card bg-dark text-white shadow">

                <div class="card-body text-center">

                    <h5>Departments</h5>

                    <h2>{{ total_departments }}</h2>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}